#wrapper {
    width: 1000px;
    background-color: #e9e9e9;
    top: -1px;
    padding: 50px;
    padding-top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*Write your CSS rules below!*/

